.task-container {
    background-color: darkorange;
    margin: 8px;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    cursor: pointer;
}

.remove-task-button {
    background-color: darkorange;
    border: none;
    font-size: 16px;
    cursor: pointer;
}