.task-details-container {
    background-color: rgba(255, 140, 0, 0.473);
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.task-details-contaider h2 {
    margin-bottom: 5px;
    color: darkorange;
}

.back-button-container {
    width: 30%;
    margin-top: 10px;
}